@charset "UTF-8";


/*configurações iniciais*/
body{
    margin: 0px;
}
/*titulo*/
#titulo {
    margin: 0%;
    background-color: black;
    color: white;
}
#titulo > h1 {
    font-size: 50px;
    padding-top:50px;
    text-align: center;
    margin: 0%;
}
#titulo > h2{
    margin:0%;
    text-align: center;
    padding-bottom: 55px;
}
/*paragrafos*/
.p01 {
    margin: 0%;
    line-height: 2em;
    font-weight:550;
    font-family: cursive;
    padding: 61.1px 30px;
    font-size: 3.5vw;
}
.p03 {
    margin: 0%;
    line-height: 2em;
    font-weight:550;
    font-family: cursive;
    padding: 61.1px 30px;
    font-size: 3.5vw;
}


#dentro{
    padding: 5px;
    margin: 0%;
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.336) ;
    line-height: 2em;
    font-weight:550;
    font-family: cursive;
    font-size: 3vw;
}

#imagem {
    padding: 61.1px 30px;
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center ;
}
.p04 {
    padding: 5px;
    margin: 0%;
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.336) ;
    line-height: 2em;
    font-weight:550;
    font-family: cursive;
    font-size: 3vw;
}
#imagem2 {
    padding: 61.1px 30px;
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center ;
}

/*footer no final da pagina*/
footer {
    font-family:sans-serif;
    padding: 5px;
    text-align: center;
    margin: 0px;
    color: white;
    background-color: black;
}
footer > h3{
    margin: 0%;
}


